* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;

  box-sizing: border-box;
}
.logo{
  font-weight: bold !important;
}
.nav_linka{
  /* border-bottom: 1px solid rgb(15, 138, 196); */
}
/* body{
    background: black;
} */
/* .logo {
  width: 8rem;
  background: rgb(255, 0, 0);
  height: 6rem;
  left: 2rem;
  position: absolute;
} */
/* .nav_link {
    position: absolute;
  right: 0rem;
  top: 0.2rem;
  display: flex;
  width: fit-content/;
  justify-content: space-around;
  align-items: center;
  background-position: left;
  background-color: brown;
}

.list {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list > *{
    margin-right: 1rem;
    width: 6rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
} */
@media (max-width: 800px) {
  .navo {
    width: 100%;
    position: relative;
    height: fit-content;
  }
  navi {
    width: 100%;
    background-color: white;
    height: 2rem;
    display: flex;
    flex: 1 5;
    justify-content: space-between;
    padding: 1rem;
    height: fit-content;
  }
  .logo {
    width: 100%;

    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  .logo p {
    text-align: left;
  }
  .nav_link {
  }

  /* side nav */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    font-family: "Lato", sans-serif;

    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    text-align: left;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */
    color: black;
    display: block;
    /* border-bottom: .1rem solid black; */
    transition: 0.3s;
  }
  .ib {
    width: 88%;
    height: 1px;
    margin-left: 1.8rem;
    background-color: rgb(179, 177, 177);
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    border-bottom: 0.3rem solid white;
    left: -65px;

    font-size: 26px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  /* side nav */

  .products_sec {
    margin-top: 1rem;
  }

  .grid {
    display: grid;
    width: 100%;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  .grid > * {
    padding-top: 1rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
  }
  .grid .img {
    width: calc(88% + 8%);
    height: calc(88% + 3%);
  }
  .grid .img img {
    width: 100%;
    height: 100%;
  }
  /* slideshow */
  .slideshow {
    width: 100%;
  }

  /* slide */
  .card > *,
  .card > *::before,
  .card > *::after {
    box-sizing: border-box;
  }
  .list{
    display: none;
  }

  .slideshow-container{
    display: none;
    /* display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; */

    /* background-color: #3c3c3c; */
  }

  .card {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 400px;
    overflow: hidden;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  /*Light blue cover above the slide show*/
  .card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(140, 22, 115, 0.2);
  }

  .card_part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    transform: translateX(100%);
    background-image: url(./imgs/i1.jpg);

    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

  .card_part.card_part-two {
    z-index: 6;
    background-image: url(./imgs/i1.jpg);
    animation-delay: 7s;
  }

  .card_part.card_part-three {
    z-index: 5;
    background-image: url(./imgs/i1.jpg);
    animation-delay: 14s;
  }

  .card_part.card_part-four {
    z-index: 4;
    background-image: url(./imgs/i1.jpg);
    animation-delay: 21s;
  }

  @keyframes opaqTransition {
    3% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    28% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* img */

  .about_sec {
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .btn {
    /* width: 3rem; */
    font-size: 0.8rem;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: blue;
  }
  .text {
    font-size: 0.8rem;
    padding-inline: 0.3rem;
  }
  .about {
    display: flex;
    gap: 1rem;
    text-align: center;

    justify-content: space-around;
    margin-top: 1rem;
    height: 10rem;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
  }
  .fotter {
    background-color: #d9d9d9;
    width: 100%;
    margin-top: 1rem;
    height: fit-content;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
  }
  .logos img {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media (min-width: 800px) {
  .navo {
    /* display: flex; */
    width: 100%;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    /* align-items: ce//nter; */
    background-color: yellow;
  }
  navi {
    display: flex;
    width: 100%;
    padding-inline: 1rem;
    flex-direction: row-reverse;
    /* justify-content: space-around;/ */
    gap: 1rem;
    height: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  .nav_linka {
    width: 100%;
    text-align: center;
  }
.nav_linka a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 10px; */
    /* color: #818181; */
    color: black;
    display: inline;
    /* border-bottom: .1rem solid black; */
    transition: 0.3s;
  }
  .sidenav {
    display: none;
  }
  .span {
    display: none;
  }

  /* products_sec */
  .products_sec {
  }

  .products_sec {
    margin-top: 1rem;
    padding-inline: 2rem;
  }

  .grid {
    display: grid;
    margin-top: 2rem;
    width: 100%;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .grid > * {
    padding-top: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
  }
  .grid .img {
    width: calc(88% + 8%);
    height: calc(88% + 8%);
  }
  .grid .img img {
    width: 100%;
    height: 100%;
  }
  .slideshow{
    height: 80vh;
    /* background-color: black; */
    width: 100%;
  }
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  /* height: 50vh */
  ;
  position: relative;
  margin: auto;
}
.slideshow-container img {
height: 80vh;}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}













  /* .about {
    display: flex;
    position: relative;
    margin-top: 1rem;
    flex-direction: column;
    gap: 2rem;
  } */
  /* img */


  .about_sec {
    width: 100%;
    /* height: 20rem; */
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
   /* padding-inline:10rem ; */
    gap: 1rem;
   max-width: 100%;
    margin-top: 2rem;
  }
  .about {
    /* width: 100%; */
   /* max-width: 80%; */

    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    text-align: center;

  }
  .btn {
    /* width: 3rem; */
    font-size: 1rem;
    width: 10%;

    color: white;
    border-radius: 1rem;
    padding: 0.2rem;

    background-color: blue;
  }
  .texti {
    color: rgb(88, 86, 86);

    margin-top: 3rem;
    font-size: 1rem;
    padding-inline: 15.3rem;
  }


  /* fotter */

  .fotter {
    background-color: #d9d9d9;
    width: 100%;
    margin-top: 3rem;
    height: fit-content;
  }
  footer {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    justify-content: space-around;
  }
  .logos {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
  }
  .logos img {
    width: 2rem;
    height: 2rem;
  }
}
